body {

 
  margin: 0;
  padding: 0;
  overflow: hidden;
}


@font-face {
  font-family: c1;
  src: url(./fonts/CreatoDisplay-Regular.otf);
}
@font-face {
  font-family: c2;
  src: url(./fonts/CreatoDisplay-Medium.otf);
}
@font-face {
  font-family: c3;
  src: url(./fonts/CreatoDisplay-Bold.otf);
}
.dis {
  position: relative;
  overflow: hidden;
}



.preloader{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;

}

.preloader h2{
  font-size: 30px;
  margin: 0;
  font-family: c3 !important;
}

.preloader p{
  font-size: 15px;
  margin: 0;
  font-family: c1 !important;
}